@use '../../variables' as var;
@use '../../mixins' as mixin;
@use '../../functions' as *;

.hero {
  @include mixin.container;
  margin-top: to-rem(100);
  width: 100%;

  &__container {
    --radial-pos: ellipse 200% 40% at 50% 68%;

    @include mixin.grid;
    width: 100%;
    background-image: 
      radial-gradient(var(--radial-pos), var.$cl-brand-light-1 0%, transparent 70%),
      linear-gradient(to right, var.$cl-brand-light-1, rgba(var.$cl-brand-light-1, 0.4), transparent), 
      url(../images/Hero_section.jpg);
    background-position: 50%;
    background-size: cover;
    border-radius: var.$border-radius-base;
    padding: to-rem(60) to-rem(40);

    @include mixin.breakpoint('sm') { --radial-pos: ellipse 200% 30% at 35% 63%; }
    @include mixin.breakpoint('md') { --radial-pos: ellipse 100% 30% at 25% 63%; }
    @include mixin.breakpoint('lg') { --radial-pos: ellipse 100% 30% at 25% 67%; }
    @include mixin.breakpoint('xl') { --radial-pos: ellipse  50% 30% at 20% 67%; }
  }

  &__content {
    position: relative;
    grid-column: span 4;
    max-width: to-rem(750);
  }

  &__badge {
    display: inline-block;
    padding: to-rem(5) to-rem(16);
    border-radius: var.$border-radius-xs;
    background-color: var.$cl-brand-1;
    width: fit-content;
    margin-bottom: to-rem(120);
    @include mixin.font('base');
  }

  &__title {
    @include mixin.font('title-lg--narrow');
    text-wrap: balance;
    max-width: to-rem(700);

    &-accent {
      font-weight: var.$fw-black;
    }
  }

  &__description {
    margin-bottom: to-rem(120);
    text-wrap: balance;
  }

  &__btn {
    @include mixin.button(var.$cl-light, var.$cl-brand-2, var.$cl-light, var.$cl-dark);
  }
}
