@use '../../variables' as var;
@use '../../mixins' as mixin;
@use '../../functions' as *;

.post-gallery {
  @include mixin.container;
  @include mixin.grid;
  gap: var.$grid-gap;
  margin-top: to-rem(120);

  &__item {
    display: block;
    border-radius: var.$border-radius-base;
    overflow: hidden;

    &:hover .post-gallery__image {
      transform: scale(1.05);
    }

    &--1 {
      height: to-rem(480);
      grid-row: span 2;
      grid-column: span 2;

      @include mixin.breakpoint('md') {
        margin-top: to-rem(120);
        height: to-rem(820);
      }

      @include mixin.breakpoint('xl') {
        grid-column: 2 / 5;
      }
    }

    &--2 {
      height: to-rem(480);
      grid-column: span 2;

      @include mixin.breakpoint('xl') {
        grid-column: 5 / 8;
      }
    }

    &--3 {
      height: to-rem(540);
      grid-column: span 2;

      @include mixin.breakpoint('xl') {
        grid-column: 5 / 8;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
  }
}

// Overrite estils de la galeria
.pswp {
  &__counter {
    font-size: var.$fs-base;
  }

  &__img--placeholder {
    display: none;
  }

  &__img {
    border-radius: var.$border-radius-base;
  }

  &__button {
    color: var.$cl-light;

    i {
      font-size: var.$fs-text-md;
      filter: drop-shadow(0 to-rem(2) to-rem(4) rgba(0, 0, 0, 0.8));
      transition: transform 0.3s ease-in-out;
    }

    &:hover i {
      transform: scale(1.2);
    }
  }
}
