<div class="categories">
    <a href="/categoria" class="categories__item categories__item--double categories__item--1">
        Dinars
    </a>
    <a href="/categoria" class="categories__item categories__item--2">
        Esmorzars
    </a>
    <a href="/categoria" class="categories__item categories__item--3">
        Fàcils de preparar
    </a>
    <a href="/categoria" class="categories__item categories__item--4">
        Receptes veganes
    </a>
    <a href="/categoria" class="categories__item categories__item--double categories__item--5">
        De temporada
    </a>

    <div class="categories__item">
        <p>Explora la resta de categories!</p>
        <a href="/categoria" class="categories__btn">Totes les categories</a>
    </div>
</div>