<!-- Featured Recipes -->
<section class="recipes">
    <header class="recipes__header">
        <div>
            <h2>Receptes destacades</h2>
            <p>Les receptes que més han inspirat aquesta setmana.</p>
        </div>
        <a href="#">Veure-ho tot</a>
    </header>
    <div class="recipes__grid">
        <!-- Card 1 -->
        <include src="./components/card.html">
        {
            "img": "./images/Recepta_Carabassa.jpg",
            "alt": "Pastís de carabassa i moniato cobert de fruïa confitada i emplatat",
            "title": "Pastís de carabassa i moniato",
            "min": "45 min",
            "description": "Pastís nutritiu i dolç, ric en vitamines, perfecte per començar el dia.",
            "href": "/det1"
        }
        </include>
        <!-- Card 2 -->
        <include src="./components/card.html">
        {
            "img": "./images/Recepta_Brou.jpg",
            "alt": "Vista d'un plat de brou de verdures amb pernil",
            "title": "Brou de verdures amb pernil",
            "min": "20 min",
            "description": "Brou calent i reconfortant, ple de nutrients, ideal per revitalitzar el cos.",
            "href": "/det2"
        }
        </include>
        <!-- Card 3 -->    
        <include src="./components/card.html">
        {
            "img": "./images/Recepta_Macarrons.jpg",
            "alt": "Macarrons gratinats servits en un plat blanc",
            "title": "Macarrons gratinats amb beixamel",
            "min": "30 min",
            "description": "Un plat cremós i reconfortant, amb energia i sabor.",
            "href": "/det3"
        }
        </include>
        <!-- Card 4 -->
        <include src="./components/card.html">
        {
            "img": "./images/Recepta_Platan.jpg",
            "alt": "Bol de gelat de plàtan",
            "title": "Gelat saludable de plàtan",
            "min": "20 min",
            "description": "Postres dolces i nutritives, ideals per refrescar el dia.",
            "href": "/det4"
        }
        </include>
    </div>
</section>