<section class="seasonal">
    <h2>Productes de temporada</h2>
    <div class="seasonal__grid">
        <include src="./components/home/seasonal_card.html">
        {
            "img_vertical": "./images/Temp_Tomaquets/Tomaquets_V.jpg",
            "img_horizontal": "./images/Temp_Tomaquets/Tomaquets_H.jpg",
            "alt": "Tomàquets tallats i sencers",
            "title": "Tomàquets",
            "href": "/categoria"
        }
        </include>
        <include src="./components/home/seasonal_card.html">
        {
            "img_vertical": "./images/Temp_Pressecs/Pressecs_V.jpg",
            "img_horizontal": "./images/Temp_Pressecs/Pressecs_H.jpg",
            "alt": "Préssecs tallats i sencers sobre la taula",
            "title": "Préssecs",
            "href": "/categoria"
        }
        </include>
        <include src="./components/home/seasonal_card.html">
        {
            "img_vertical": "./images/Temp_Taronges/Taronges_V.jpg",
            "img_horizontal": "./images/Temp_Taronges/Taronges_H.jpg",
            "alt": "Taronges col·locades en un plat",
            "title": "Taronges",
            "href": "/categoria"
        }
        </include>
        <include src="./components/home/seasonal_card.html">
        {
            "img_vertical": "./images/Temp_Figues/Figues_V.jpg",
            "img_horizontal": "./images/Temp_Figues/Figues_H.jpg",
            "alt": "Figues madures en un plat",
            "title": "Figues",
            "href": "/categoria"
        }
        </include>
    </div>
</section>