<section class="seasonal">
    <h2>Productes de temporada</h2>
    <div class="seasonal__grid">
        <div class="seasonal__card">
            <img class="seasonal__image" src="./images/Botiga_1.jpg" alt="Tomàquets tallats i sencers">
            <div class="seasonal__content">
                <h3 class="seasonal__card-title">Tomàquets</h3>
                <a href="/categoria" class="seasonal__card-subtitle">Explora receptes →</a>
            </div>
        </div>
        <div class="seasonal__card">
            <img class="seasonal__image" src="./images/Botiga_2.jpg" alt="Préssecs tallats i sencers sobre la taula">
            <div class="seasonal__content">
                <h3 class="seasonal__card-title">Préssecs</h3>
                <a href="/categoria" class="seasonal__card-subtitle">Explora receptes →</a>
            </div>
        </div>
        <div class="seasonal__card">
            <img class="seasonal__image" src="./images/Botiga_3.jpg" alt="Taronges col·locades en un plat">
            <div class="seasonal__content">
                <h3 class="seasonal__card-title">Taronges</h3>
                <a href="/categoria" class="seasonal__card-subtitle">Explora receptes →</a>
            </div>
        </div>
        <div class="seasonal__card">
            <img class="seasonal__image" src="./images/Botiga_4.jpg" alt="Figues madures en un plat">
            <div class="seasonal__content">
                <h3 class="seasonal__card-title">Figues</h3>
                <a href="/categoria" class="seasonal__card-subtitle">Explora receptes →</a>
            </div>
        </div>
    </div>
</section>