<section class="shops">
    <h2>On trobar els productes?</h2>
    <div class="shops__grid">
        <div class="shops__item">
            <img class="shops__image" src="./images/Canal_1.jpg" alt="Logotip d'Ametller Origen">
            <div class="shops__content">
                <h3 class="shops__item-title">Ametller Origen</h3>
                <p>Botiga en linia amb productes frescos, ecològics i d'elaboració pròpia.</p>
                <a href="https://www.ametllerorigen.com/ca/online" target="_blank" class="shops__btn">ametllerorigen.com →</a>
            </div>
        </div>
        <div class="shops__item">
            <img class="shops__image" src="./images/Canal_2.jpg" alt="Logotip d'Agromart">
            <div class="shops__content">
                <h3 class="shops__item-title">Agromart</h3>
                <p>Supermercat de productes de proximitat i naturals.</p>
                <a href="https://agromart.es/" target="_blank" class="shops__btn">agromart.es →</a>
            </div>
        </div>
    </div>
</section>