<section class="shops">
    <h2>On trobar els productes?</h2>
    <div class="shops__grid">
        <div class="shops__item">
            <picture class="shops__image_col">
                <source
                    type="image/webp"
                    srcset="./images/Ametller_Origen.jpg?as=webp&width=128 1x,
                            ./images/Ametller_Origen.jpg?as=webp&width=256 2x,
                            ./images/Ametller_Origen.jpg?as=webp&width=384 3x">
                <img 
                    class="shops__image"
                    src="./images/Ametller_Origen.jpg?width=200"
                    alt="Logotip d'Ametller Origen"
                    srcset="./images/Ametller_Origen.jpg?width=128 1x,
                            ./images/Ametller_Origen.jpg?width=256 2x,
                            ./images/Ametller_Origen.jpg?width=384 3x">
            </picture>
            <div class="shops__content">
                <h3 class="shops__item-title">Ametller Origen</h3>
                <p>Botiga en linia amb productes frescos, ecològics i d'elaboració pròpia.</p>
                <a href="https://www.ametllerorigen.com/ca/online" target="_blank" class="shops__btn">ametllerorigen.com →</a>
            </div>
        </div>
        <div class="shops__item">
            <picture class="shops__image_col">
                <source
                    type="image/webp"
                    srcset="./images/Agromart.jpg?as=webp&width=128 1x,
                            ./images/Agromart.jpg?as=webp&width=256 2x,
                            ./images/Agromart.jpg?as=webp&width=384 3x">
                <img 
                    class="shops__image"
                    src="./images/Agromart.jpg?width=200"
                    alt="Logotip d'Agromart"
                    srcset="./images/Agromart.jpg?width=200 1x,
                            ./images/Agromart.jpg?width=256 2x,
                            ./images/Agromart.jpg?width=600 3x">
            </picture>
            <div class="shops__content">
                <h3 class="shops__item-title">Agromart</h3>
                <p>Supermercat de productes de proximitat i naturals.</p>
                <a href="https://agromart.es/" target="_blank" class="shops__btn">agromart.es →</a>
            </div>
        </div>
    </div>
</section>