<section class="video">
    <div class="video__container">
        <div>
            <h2 class="video__title">Per preparar en un moment</h2>
            <p>Receptes saludables i ràpides amb els productes de temporada.</p>
            <p>Amb ajuda dels vídeos, cuinar mai no havia estat tan fàcil.</p>
            <ul class="video__list">
                <li class="video__item">
                    <span class="video__icon"><i class="fa-solid fa-route"></i></span>
                    <p class="video__text">Sempre ingredients de proximitat</p>
                </li>
                <li class="video__item">
                    <span class="video__icon"><i class="fa-solid fa-clock"></i></span>
                    <p class="video__text">Menys de 15 minuts de preparació</p>
                </li>
                <li class="video__item">
                    <span class="video__icon"><i class="fa-solid fa-star"></i></span>
                    <p class="video__text">Resultats d'estrella Michelin</p>
                </li>
            </ul>
            <a href="/categoria" class="video__btn">Veure vídeo receptes</a>
        </div>

        <div class="video__gallery">
            <a href="https://www.youtube.com/watch?v=s8OrwdqasEU" class="video-gallery__link" data-pswp-type="youtube" data-video-id="s8OrwdqasEU" data-pswp-width="1280" data-pswp-height="720">
                <picture>
                    <!-- lg + xl + xxl -->
                    <source type="image/avif" media="(min-width: 64rem)" srcset="./images/Video_1/Preview_Video_1_V.jpg?as=avif&width=375">
                    <source type="image/webp" media="(min-width: 64rem)" srcset="./images/Video_1/Preview_Video_1_V.jpg?as=webp&width=375">
                    <source media="(min-width: 64rem)" srcset="./images/Video_1/Preview_Video_1_V.jpg?width=375">

                    <!-- xs + sm + md -->
                    <source type="image/avif" srcset="./images/Video_1/Preview_Video_1_H.jpg?as=avif&width=727">
                    <source type="image/webp" srcset="./images/Video_1/Preview_Video_1_H.jpg?as=webp&width=727">
                    <source srcset="./images/Video_1/Preview_Video_1_H.jpg?width=727">

                    <img class="video__image" src="./images/Video_1/Preview_Video_1_H.jpg?width=727" alt="Xef preparant un deliciós menjar" loading="lazy">
                </picture>
            </a>

            <a href="https://www.youtube.com/watch?v=ADppVkRLvPE" class="video-gallery__link" data-pswp-type="youtube" data-video-id="ADppVkRLvPE" data-pswp-width="1280" data-pswp-height="720">
                <picture>
                    <!-- lg + xl + xxl -->
                    <source type="image/avif" media="(min-width: 64rem)" srcset="./images/Video_2/Preview_Video_2_V.jpg?as=avif&width=375">
                    <source type="image/webp" media="(min-width: 64rem)" srcset="./images/Video_2/Preview_Video_2_V.jpg?as=webp&width=375">
                    <source media="(min-width: 64rem)" srcset="./images/Video_2/Preview_Video_2_V.jpg?width=375">

                    <!-- xs + sm + md -->
                    <source type="image/avif" srcset="./images/Video_2/Preview_Video_2_H.jpg?as=avif&width=727">
                    <source type="image/webp" srcset="./images/Video_2/Preview_Video_2_H.jpg?as=webp&width=727">
                    <source srcset="./images/Video_2/Preview_Video_2_H.jpg?width=727">

                    <img class="video__image video__image--lift" src="./images/Video_2/Preview_Video_2_H.jpg?width=727" alt="Amanida fresca amb pollastre carn i tomàquets" loading="lazy">
                </picture>
            </a>
        </div>
    </div>
</section>