<section class="video">
    <div class="video__container">
        <div>
            <h2 class="video__title">Per preparar en un moment</h2>
            <p>Receptes saludables i ràpides amb els productes de temporada.</p>
            <p>Amb ajuda dels vídeos, cuinar mai no havia estat tan fàcil.</p>
            <ul class="video__list">
                <li class="video__item">
                    <span class="video__icon"><i class="fa-solid fa-route"></i></span>
                    <p class="video__text">Sempre ingredients de proximitat</p>
                </li>
                <li class="video__item">
                    <span class="video__icon"><i class="fa-solid fa-clock"></i></span>
                    <p class="video__text">Menys de 15 minuts de preparació</p>
                </li>
                <li class="video__item">
                    <span class="video__icon"><i class="fa-solid fa-star"></i></span>
                    <p class="video__text">Resultats d'estrella Michelin</p>
                </li>
            </ul>
            <a href="/categoria" class="video__btn">Veure vídeo receptes</a>
        </div>

        <div class="video__gallery">
            <img class="video__image" src="./images/Preview_Video_1.jpg" alt="Xef preparant un deliciós menjar">
            <img class="video__image video__image--lift" src="./images/Preview_Video_2.jpg"  alt="Amanida fresca amb pollastre carn i tomàquets">
        </div>
    </div>
</section>