<article class="card card--large {{ variant }}" data-tags="{{ tags }}" data-date="{{ date }}" data-relevance="{{ relevance }}">
    <picture class="card__image_box">
        <!-- xxl -->
        <source type="image/avif" media="(min-width: 90.625rem)" srcset="{{ img }}_S.jpg?as=avif&width=599">
        <source type="image/webp" media="(min-width: 90.625rem)" srcset="{{ img }}_S.jpg?as=webp&width=599">
        <source media="(min-width: 90.625rem)" srcset="{{ img }}_S.jpg?width=599">

        <!-- md + lg + xl -->
        <source type="image/avif" media="(min-width: 48rem)" srcset="{{ img }}_V.jpg?as=avif&width=473">
        <source type="image/webp" media="(min-width: 48rem)" srcset="{{ img }}_V.jpg?as=webp&width=473">
        <source media="(min-width: 48rem)" srcset="{{ img }}_V.jpg?width=473">

        <!-- sm -->
        <source type="image/avif" media="(min-width: 40rem)" srcset="{{ img }}_H.jpg?as=avif&width=727">
        <source type="image/webp" media="(min-width: 40rem)" srcset="{{ img }}_H.jpg?as=webp&width=727">
        <source media="(min-width: 40rem)" srcset="{{ img }}_H.jpg?width=727">

        <!-- xs -->
        <source type="image/avif" srcset="{{ img }}_S.jpg?as=avif&width=599">
        <source type="image/webp" srcset="{{ img }}_S.jpg?as=webp&width=599">
        <source srcset="{{ img }}_S.jpg?width=599">

        <img class="card__image" src="{{ img }}_S.jpg?width=599" alt="{{ alt }}" loading="{{ loading }}">
    </picture>
    <div class="card__content">
        <span class="card__label">{{ min }}</span>
        <h2 class="card__title">{{ title }}</h2>
        <p>{{ description }}</p>
        <a href="{{ href }}" class="card__btn">Veure recepta</a>
    </div>
</article>
