<footer class="footer">
  <div class="footer__container">
    <div class="footer__desc">
      <a href="/" class="footer__link-logo">
        <img src="./images/Logo-white.svg" alt="Logotip de la Serra de Tramuntana" width="170" class="footer__logo"/>
      </a>
      <p>Una web dedicada a la promulgació del consum de productes ecològics i de proximitat.</p>
      <nav aria-label="Xarxes socials" class="footer__social">
        <a href="#" class="footer__social-link" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" class="footer__social-link" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="footer__social-link" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
      </nav>
    </div>

    <nav aria-label="Enllaços ràpids" class="footer__links-col footer__links-col--1">
      <h3 class="footer__col-title">Enllaços ràpids</h3>
      <ul>
        <li><a href="/">Inici</a></li>
        <li><a href="/categories">Receptes</a></li>
        <li><a href="/links">Atribucions</a></li>
      </ul>
    </nav>

    <nav aria-label="Informació" class="footer__links-col footer__links-col--2">
      <h3 class="footer__col-title">Informació</h3>
      <ul>
        <li><a href="#">Els nostres compromisos</a></li>
        <li><a href="#">Col·labora amb nosaltres</a></li>
        <li><a href="#">Contacte</a></li>
      </ul>
    </nav>

    <div class="footer__bottom">
      <p>© 2026 EcoMarket. Tots els drets reservats.</p>
      <nav aria-label="Legal" class="footer__legal">
        <a href="#">Política de Privacitat</a>
        <a href="#">Condicions d'Ús</a>
      </nav>
    </div>
  </div>
</footer>