<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="author" content="Joan Barceló Fiol">
    <meta name="description" content="{{ description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/favicon.png?width=32" sizes="32x32">
    <link rel="icon" href="./images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./images/favicon.png?width=180">
    <link rel="stylesheet" type="text/css" href="./styles/main.scss" />
    <link rel="preload" href="./fonts/nunito-v32-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./fonts/nunito-v32-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <if condition="preloads">
        <each loop="preload in preloads">
            <link rel="preload" href="{{ preload.href }}" as="{{ preload.as }}" type="{{ preload.type }}" crossorigin="{{ preload.crossorigin }}">
        </each>
    </if>
</head>