<div class="post-gallery">
    <include src="./components/post/post-gallery-image.html">
    {
        "num": "1",
        "img": "{{img_1}}",
        "img_sm": "{{img_1_sm}}",
        "img_full": "{{img_1_full}}",
        "full_width": "{{full_width_1}}",
        "full_height": "{{full_height_1}}",
        "alt": "{{alt_1}}"
    }
    </include>
    <include src="./components/post/post-gallery-image.html">
    {
        "num": "2",
        "img": "{{img_2}}",
        "img_sm": "{{img_2_sm}}",
        "img_full": "{{img_2_full}}",
        "full_width": "{{full_width_2}}",
        "full_height": "{{full_height_2}}",
        "alt": "{{alt_2}}"
    }
    </include>
    <include src="./components/post/post-gallery-image.html">
    {
        "num": "3",
        "img": "{{img_3}}",
        "img_sm": "{{img_3_sm}}",
        "img_full": "{{img_3_full}}",
        "full_width": "{{full_width_3}}",
        "full_height": "{{full_height_3}}",
        "alt": "{{alt_3}}"
    }
    </include>
</div>