<header class="post-hero">
    <picture>
        <!-- xxl -->
        <source type="image/webp" media="(min-width: 90.625rem)" srcset="{{ img }}_H@1.jpg?as=webp&width=1920">
        <source media="(min-width: 90.625rem)" srcset="{{ img }}_H@1.jpg?width=1920">

        <!-- md + lg + xl -->
        <source type="image/webp" media="(min-width: 48rem)" srcset="{{ img }}_H@2.jpg?as=webp&width=1449">
        <source media="(min-width: 48rem)" srcset="{{ img }}_H@2.jpg?width=1449">

        <!-- xs + sm -->
        <source type="image/webp" srcset="{{ img }}_V.jpg?as=webp&width=767">
        <source srcset="{{ img }}_V.jpg?width=767">

        <img class="post-hero__image" src="{{ img }}_H@1.jpg?width=767" fetchpriority="high" width="1920" height="870" alt="{{ alt }}">
    </picture>
    <div class="post-hero__content">
        <div class="post-hero__badge">De temporada</div>
        <h1 class="post-hero__title">{{ title }}</h1>
        <div class="post-hero__meta">
            <span><i class="fa-solid fa-clock"></i> {{ time }}</span>
            <span><i class="fa-solid fa-utensils"></i> {{ people }}</span>
            <span><i class="fa-solid fa-chart-simple"></i> {{ difficulty }}</span>
        </div>
    </div>
</header>