<div class="post-gallery">
    <a href="{{ img_1 }}" class="gallery-box post-gallery__item post-gallery__item--1" data-gallery="gallery1" data-type="image">
        <img class="post-gallery__image" src="{{ img_1 }}" alt="{{ alt_1 }}">
    </a>
    <a href="{{ img_2 }}" class="gallery-box post-gallery__item post-gallery__item--2" data-gallery="gallery1" data-type="image">
        <img class="post-gallery__image" src="{{ img_2 }}" alt="{{ alt_2 }}">
    </a>
    <a href="{{ img_3 }}" class="gallery-box post-gallery__item post-gallery__item--3" data-gallery="gallery1" data-type="image">
        <img class="post-gallery__image" src="{{ img_3 }}" alt="{{ alt_3 }}">
    </a>
</div>