 <div class="recipes-list">
    <!-- Sidebar Filters -->
    <div class="recipes-list__sidebar">
        <h2 class="recipes-list__tags-title">Etiquetes</h2>
        <button class="recipes-list__tag recipes-list__tag--active">Tots els plats</button>
        <button class="recipes-list__tag">Vegetarià</spbuttonan>
        <button class="recipes-list__tag">Ràpid</button>
        <button class="recipes-list__tag">Gurmet</button>
    </div>

    <!-- Recipe Grid -->
    <div class="recipes-list__cards">
        <div class="recipes-list__header">
            <p class="recipes-list__count">4 productes</p>
            <p class="recipes-list__sort">Ordenar per: <b>Rellevància</b> <i class="fa-solid fa-angle-down"></i></p>
        </div>
        <div class="recipes-list__grid">
            <!-- Card 1 -->
            <include src="./components/card-large.html">
            {
                "img": "./images/Recepta_Carabassa.jpg",
                "alt": "Pastís de carabassa i moniato cobert de fruïa confitada i emplatat",
                "title": "Pastís de carabassa i moniato",
                "min": "45 min",
                "description": "Pastís nutritiu i dolç, ric en vitamines, perfecte per començar el dia.",
                "href": "/det1"
            }
            </include>
            <!-- Card 2 -->
            <include src="./components/card-large.html">
            {
                "img": "./images/Recepta_Brou.jpg",
                "alt": "Vista d'un plat de brou de verdures amb pernil",
                "title": "Brou de verdures amb pernil",
                "min": "20 min",
                "description": "Brou calent i reconfortant, ple de nutrients, ideal per revitalitzar el cos.",
                "href": "/det2"
            }
            </include>
            <!-- Card 3 -->    
            <include src="./components/card-large.html">
            {
                "img": "./images/Recepta_Macarrons.jpg",
                "alt": "Macarrons gratinats servits en un plat blanc",
                "title": "Macarrons gratinats amb beixamel",
                "min": "30 min",
                "description": "Un plat cremós i reconfortant, amb energia i sabor.",
                "href": "/det3"
            }
            </include>
            <!-- Card 4 -->
            <include src="./components/card-large.html">
            {
                "img": "./images/Recepta_Platan.jpg",
                "alt": "Bol de gelat de plàtan",
                "title": "Gelat saludable de plàtan",
                "min": "20 min",
                "description": "Postres dolces i nutritives, ideals per refrescar el dia.",
                "href": "/det4"
            }
        </div>
    </div>
</div>